<article class="event-card">

  <div class="event-image">

    @if (evento().imagenUrl && !imagenNoDisponible()) {
        <img
            [src]="evento().imagenUrl"
            [alt]="'Imagen de ' + evento().nombre"
            (error)="imagenNoDisponible.set(true)"
        />
    } @else {
        <div
            class="image-placeholder"
            role="img"
            [attr.aria-label]="'Imagen no disponible de ' + evento().nombre"
        >
            <span aria-hidden="true">♪</span>
            <p>Imagen no disponible</p>
        </div>
    }

    <span class="genre">
      {{ evento().genero }}
    </span>
  </div>


  <div class="event-content">
    <h2>
      {{ evento().nombre }}
    </h2>

    <div class="event-info">
      <p>
        <span aria-hidden="true">📅</span>
        {{ evento().fechaEvento | date:'d MMMM y' }}
      </p>

      <p>
        <span aria-hidden="true">📍</span>
        @if (evento().nombreRecinto) {
          {{ evento().nombreRecinto }}, {{ evento().localidad }}
        } @else {
          {{ evento().localidad }}
        }
      </p>
    </div>

    <footer>
      <strong>
        @if (evento().precioMaximo === 0) {
          Entrada gratuita
        } @else {
          Desde
          {{ evento().precioMinimo | currency:'EUR':'symbol':'1.0-0' }}
        }
      </strong>

      <a [routerLink]="['/eventos', evento().id]">
        Ver detalle
      </a>
    </footer>
  </div>

</article>
